.login-img {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* 背景图核心代码 */
  background-image: url("../../img/login/b4a9f425f9ba04273c7e2624cf382d1a~tplv-be4g95zd3a-image.jpeg");
  background-size: cover;     /* 铺满屏幕*/
  background-position: center; /* 居中 */
  background-repeat: no-repeat;/* 不重复 */
  background-attachment: fixed;/* 固定不动 */
}

.login-wrapper {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 360px;
    height: 280px;
    border-radius: 8px;
    background-color: rgba(250, 235, 215,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding: 10px 50px 10px 50px; */
}

.login-form {
    font-size: 18px;
    font-weight: 400;
}

.login-form input {
    width: 176px;
    height: 22px;
}

.register-form input {
    width: 176px;
    height: 22px;
}

.login-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.register-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 430px;
    height: 360px;
    border-radius: 8px;
    background-color: rgb(250, 235, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.avator {
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    margin-top: -15px;
    margin-right: 80px;
}


.register-form {
    font-size: 20px;
    font-weight: 400;
}


.register-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.close {
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}