.header {
    box-sizing: border-box;
    height: 50px;
    border-bottom: 1px solid #000;
    padding: 0 20px;
    background-color: var(--bg);
    color: var(--text);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 20px;
        display: flex;
        align-items: center;

        img {
            height: 24px;
            margin-right: 10px;
        }
    }
      
    }

.tabs {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 38px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #ddd;

    background-color: var(--bg);
    color: var(--text);

    &::-webkit-scrollbar {
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }

    .tabs-item {
        padding: 8px 10px 6px;
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        white-space: nowrap;

        &.actived {
            color: skyblue;
            border-bottom: 3px solid skyblue;
        }

        &:first-child {
            cursor: text;
        }
    }
}


.tabs-item-input {
    width: 90px;
    font-size: 13px;
    padding: 4px 0 4px 10px;

    color: #444;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: auto;
}

.add {
    cursor: pointer;
    margin-right: 10px;
}

.msg {
    position: absolute;
    right: 8px;
    left: 8px;
    bottom: 0px;
    z-index: 10;

    max-height: calc(100% - 300px);
    display: flex;
    min-height: 40px;
    margin-bottom: 8px;
    color: var(--color);

    background-color: var(--bg-color);
    border: 2px solid #fff;
    border-radius: 6px;

    border-color: var(--color);

     &.error {
      --color: #f56c6c;
      --bg-color: #fef0f0;
    }

    &.warn {
      --color: #e6a23c;
      --bg-color: #fdf6ec;
    }

}

pre {
    padding: 12px 20px;
    margin: 0;
    overflow: auto;
    white-space: break-spaces;
}

.dismiss {
    position: absolute;
    top: 2px;
    right: 2px;

    display: block;
    width: 18px;
    height: 18px;
    padding: 0;

    font-size: 14px;
    line-height: 18px;

}



